# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist
.turbo

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Environment
.env
.env*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

