# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:pass@localhost:5432/webdevstudios?schema=public"
PORT=4003
CORS_ORIGIN="http://localhost:3000"

# Csrf secret
CSRF_SECRET="csrf-secret"

# Mail
MAIL_USER=""
MAIL_PASS=""

# Payment
PAYOS_CLIENT_ID=""
PAYOS_API_KEY=""
PAYOS_CHECKSUM_KEY=""
PAYOS_RETURN_URL="http://localhost/v1/payments/*"
PAYOS_CANCEL_URL="http://localhost/v1/payments/*"

# JWT
JWT_SECRET_KEY=...

# OAuth Google
GOOGLE_CLIENT_ID="<id>.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="key"
GOOGLE_CALLBACK_URL="http://localhost:4003/v1/auth/oauth/google/callback"

# OAuth GitHub
GITHUB_CLIENT_ID=...
GITHUB_CLIENT_SECRET=...
GITHUB_CALLBACK_URL=http://localhost:4003/v1/auth/oauth/github/callback

# Frontend URLs
FRONTEND_URL=http://localhost:3000

# R2
R2_ACCESS_KEY_ID=your_access_key
R2_SECRET_ACCESS_KEY=your_secret_key
R2_BUCKET_NAME=webdevstudios-storage
R2_PUBLIC_URL=https://pub-xxxxx.r2.dev
R2_ENDPOINT=https://xxxxx.r2.cloudflarestorage.com

# Redis
REDIS_HOST="localhost"
REDIS_PORT="6379"
